<section class="mt-5">
    <div class="row">
        <div class="col-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title font-poppins">Card title</h5>
                    <p class="text-secondary font-size-09">Some quick example text to build on the card title and make
                        up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-info font-size-09 text-light">Read More ..</a>
                </div>
            </div>
        </div>
    </div>
</section>